    {{ form_start(form,  {'action':path('boletin'),'attr':{'id':'form-boletin'}}) }}
    <div class="input-group">
        {{ form_widget(form.email, {'attr': {'class': 'form-control form-email-widget'} }) }}
        {% if form.email.vars.errors|length > 0 %}
            <p class="help-block">
                {% for error in form.email.vars.errors %}
                    {{ error.message }} <br/>
                {% endfor %}
            </p>
        {% endif %}
        <span class="input-group-btn">
         {{ form_widget(form.enviar, {'attr': {'class ': 'btn btn-email','value':'✓'} }) }}
        </span>
    </div>
    {{ form_end(form) }}
    <p class="help-block" style="display: none;" id="status"></p>
    <script>
        $(document).ready(function () {
            $('#form-boletin').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $("#form-boletin").serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $('#form-boletin').hide();
                        if(data.status==1){
                            $('#status').html("Gracias! Pronto recibirás información.");
                        }else if(data.status==2){
                            $('#status').html("El correo ya está registrado en nuestra Plataforma");
                        }else{
                            $('#status').html("Error! Intenta de nuevo.");
                        }
                        $('#status').show();
                    }
                });
            });
        });
    </script>