    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Empresa Responsable','submenu':'Reportes'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script><script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Reportes</h3>
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>                            <th>Nombre</th>                            <th>Cliente</th>                                   <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for reporte in reportes %}
                    <tr>
                              <td><a href="{{ path('reportes_show', { 'id': reporte.id }) }}">{{ reporte.id }}</a></td>                                <td>{{ reporte.nombre }}</td>                                <td>{{ reporte.clientes }}</td>                                                 <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('reportes_show', { 'id': reporte.id }) }}" data-toggle="tooltip" title="Ver" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
                                        <a href="{{ path('reportes_edit', { 'id': reporte.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                    </tr>
                    {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
