{% extends '@Frontend/layout.html.twig' %}

{% block title %}{{ parent() }} | Norma CRESE{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="section section-padding courses-detail">
        <div class="container">
            <div class="courses-detail-wrapper">
                <div class="row">
                    <div class="col-md-8 layout-left">
                         {#<h1 class="course-title">Norma CRESE</h1>#}
{#
                        <div class="course-info info">
                            <div class="author item"><a href="#"><span>By&nbsp;</span><span>Emma Watson</span></a></div>
                            <div class="date-time item"><a href="#">20 Aug 2015</a></div>
                        </div>
                        <div class="course-video">
                            <iframe src="https://www.youtube.com/embed/xo1VInw-SKc?list=PL7JgdmQ0zTfatnGhUnRBnhMwYEraSIRdD" allowfullscreen="allowfullscreen"></iframe>
                            <div class="video-btn">
                                <button class="btn btn-grey video-btn-right pull-right"><span>next lesson</span><i class="fa fa-angle-right"></i></button>
                                <button class="btn btn-grey video-btn-left pull-right"><i class="fa fa-angle-left"></i><span>previous lesson</span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div> #}
                        <div class="course-des">
                            <div class="course-des-title underline">Acerca de la Norma CRESE</div>
                            <div class="course-des-content" style="text-align: justify;">
                                <p style="color: #1127b2">¿Qué es la Norma CRESE®?</p>
                                <p class="text-justify">La Norma CRESE&reg; es un sistema de gestión, auditable y certificable, que suscita
                                    empresas centradas en las personas, cimentadas en principios éticos universales, congruentes,
                                    confiables y con cambios reales y medibles.</p>
                                <p class="text-justify">La Norma CRESE&reg; es un estándar basado en la Doctrina Social de la Iglesia, que es un instrumento
                                    de evangelización que une la fe y la razón en una propuesta de humanismo integral y solidario,
                                    válida para todo el mundo.</p>
                                
                                <img src="{{ asset('images/5csazul.jpg') }}" class="img-responsive">

                                <p style="color: #1127b2">¿Qué es el Certificado CRESE?</p>
                                <p>El Certificado CRESE reconoce a las empresas que implantan con éxito la Norma CRESE y
                                    que están autenticamente interesadas en las personas.</p>
                                <br>
                                <p style="color: #1127b2">¿Quién avala la Norma CRESE®?</p>
                                <p>La Norma CRESE® es avalada por el Consejo Latinoamericano de Calidad Humana y Responsabilidad 
                                    Social, A.C., y por los resultados obtenidos por las empresas que la han implantado.</p>
                                <br>

                                {#<blockquote>
                                    <div class="main-quote">Video courses to build new skills from start to finish.</div>
                                    <div class="sub-quote">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                    <footer>Amber Ivy&nbsp;
                                        <small>(Grancie Company)</small>
                                    </footer>
                                </blockquote> #}
                            </div>
                            <div class="course-info info">
                                <div class="author">
                                    <p style="font-size: 1.4em;">Enlace a página CRESE<a href="{{ asset('http://www.crese.org/') }}" target="_blank"><i class="fa fa-link" style="margin-left: 20px;"></i></a></p>
                                    <p style="font-size: 1.4em;">Descarga la norma CRESE<a href="{{ asset('http://www.crese.org/page/registration/') }}" target="_blank"><i class="fa fa-download" style="margin-left: 20px;"></i></a></p>
                                    <img src="{{ asset('images/sello.jpg') }}" class="img-responsive center-block">
                                </div>
                            </div>
                            {#<div class="news-list">
                                <div class="list-expand-title">Requirements</div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled list-detail">
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sit amet velit auctor turpis rhoncus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sed dolor sodales, eleifend ipsum eu.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nullam id dolor in ex eleifend tempus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Etiam id lorem vel neque faucibus fermentum.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nunc tincidunt augue in enim sollicitudin feugiat.</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled list-detail">
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sit amet velit auctor turpis rhoncus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sed dolor sodales, eleifend ipsum eu.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nullam id dolor in ex eleifend tempus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Etiam id lorem vel neque faucibus fermentum.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nunc tincidunt augue in enim sollicitudin feugiat.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>#}
                        </div>
                        {#<div class="course-syllabus">
                            <div class="course-syllabus-title underline">Gestión del sistema CRESE</div>
                            <div class="course-table">
                                <div class="outer-container">
                                    <div class="inner-container">
                                        <div class="table-header">
                                            <table class="edu-table-responsive">
                                                <thead>
                                                <tr class="heading-table">
                                                    <th class="col-1">Sección</th>
                                                    <th class="col-2">Tiempo estimado</th>
                                                    <th class="col-3">Recursos</th>
                                                    <th class="col-4"> </th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-body">
                                            <table class="edu-table-responsive table-hover">
                                                <tbody>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">1. Curso de Inducción</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>1.0 Video de inducción</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>10 Min.</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido0') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>1.1 Presentación en powerpoint</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>10 Min.</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                     <a href="{{ path('contenido1') }}" style="color:#86bc42;">
                                                         <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                     </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>1.2 Video</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>20 Min.</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido2') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="mr18 fa fa-file-text"></i><span>1.3 Maratón CRESE</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>5 Hrs.</span></td>
                                                    <td class="col-3">Playera y time tracking</td>
                                                    <td class="bold-color col-4">
                                                        <a href="{{ path('contenido2') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Solicitar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="mr18 fa fa-file-text"></i><span>1.4 Metodología de Etiquetas</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido1') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Solicitar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">2. Formar el comité</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>2.1 Presentación en powerpoint</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido3') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">3. Hacer el diagnóstico</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                3.1 Diagnóstico en pagina web</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>25 Min.</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido5') }}" style="color:#86bc42;">
                                                        <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                3.2 Encuesta clima laboral</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido6') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                3.3 Reportes y presentación final estandarizada</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido1') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                3.4 Ranking</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4"><i class="w27 fa fa-check-square"></i><span>Proximamente</span></td>
                                                </tr>
                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">4. Seguimiento</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                4.1 Carpeta Virtual</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4"><i class="w27 fa fa-check-square"></i><span>Proximamente</span></td>
                                                </tr>
                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">5. Eficiencia y mejora</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                5.1 Retroalimentación</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>50:20</span><</td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4"><i class="w27 fa fa-check-square"></i><span>Proximamente</span></td>
                                                </tr>
                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">6. Auditoria Interna</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                6.1 Cursos para auditores internos</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span>2 Hrs.</span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4">
                                                        <a href="{{ path('contenido4') }}" style="color:#86bc42;">
                                                            <i class="w27 fa fa-check-square"></i><span>Accesar</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="spacing-table">
                                                    <td colspan="4"></td>
                                                </tr>
                                                <tr class="heading-content">
                                                    <td colspan="4" class="left heading-content">7. Red social CRESE</td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>
                                                                7.1 red social CRESE</span></a></td>
                                                    <td class="col-2"><i class="w20 fa fa-clock-o"></i><span></span></td>
                                                    <td class="col-3"></td>
                                                    <td class="green-color col-4"><i class="w27 fa fa-check-square"></i><span>Proximamente</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                    </div>
                    <div class="col-md-4 sidebar layout-right">
                        <div class="row">
                            <div class="author-widget widget col-xs-12 col-sm-12 col-md-12 col-lg-12 sd380">
                                <div class="title-widget"><p>Testimonios</p></div>
                                {#<div class="content-widget">
                                    <div class="course-price-widget-wrapper">
                                        <div class="row">
                                            <p>Info promoción</p>
                                        </div>
                                        <button class="btn btn-green"><span>Crear cuenta</span></button>
                                    </div>
                                </div>#}
                            </div>
                            <div class="author-widget widget col-xs-12 col-sm-12 col-md-12 col-lg-12 sd380">
                                {#<img src="{{ asset('images/12631279_996877953706693_2068223073474344190_n.jpg') }}" class="img-responsive" />#}
                                {#<div class="title-widget">about emma watson</div>#}
                                <div class="content-widget">
                                    {#<div class="staff-item author-widget-wrapper customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info"><a href="#" class="staff-avatar"><img src="assets/images/people-avatar-3.jpg" alt="" class="img-responsive"/></a><a href="#" class="staff-name">lana simth</a>

                                                <div class="staff-job">vice head teacher</div>
                                                <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>#}
                                    <blockquote>
                                        <p>Hemos logrado que se disminuya la rotación, que crezca el amor por la empresa,
                                            que nos sintamos parte de ella y que cuidemos de nuestra fuente de trabajo
                                            con dignidad y respeto.</p>
                                        <footer>
                                            Ing. Roberto Almaraz García<br>
                                            Sears
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="popular-course-widget widget col-xs-12 col-sm-12 col-md-12 col-lg-12 sd380">
                                {#<img src="{{ asset('images/13062476_1060199664041188_1927768163125131578_n.jpg') }}" class="img-responsive" />#}
                                <blockquote>
                                    <p>Como persona de empresa que ha tenido la oportunidad y también la fortuna de implantar
                                        la Norma CRESE®, puedo manifestar que nada hay igual y que los conceptos de Responsabilidad
                                        Social van dirigidos al ser humano, a las personas, que ven en esta Norma y sobre
                                        todo en su aplicación, algo muy valioso para ellas.</p>
                                    <footer>
                                        Don Camilo García Marcos<br>
                                        Consejo Latinoamericano de Calidad Humana y Responsabilidad Social, A.C.
                                    </footer>
                                </blockquote>
                               {# <div class="title-widget">popular courses</div>
                                <div class="content-widget">
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-1.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">35</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-2.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">40</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-3.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">34</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-4.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">27</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                            <div class="category-widget widget col-xs-12 col-sm-12 col-md-12 col-lg-12 sd380">
                                {#<img src="{{ asset('images/13442622_1089636587764162_5873141146180683885_o.jpg') }}" class="img-responsive" />#}
                                <blockquote>
                                    <p>Es una manera de recordar que el ser humilde y fomentar la humildad, es sinónimo
                                        de promover la calidad en las personas.</p>
                                    <footer>
                                        C.P.C. Andrés García Gallardo<br>
                                        Finaccess México, S.A. de C.V.
                                    </footer>
                                </blockquote>
                               {# <div class="title-widget">categories</div>
                                <div class="content-widget">
                                    <ul class="category-widget list-unstyled">
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Web Design</span><span class="pull-right">125</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Wordpress Themes</span><span class="pull-right">97</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Photography</span><span class="pull-right">56</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Video</span><span class="pull-right">24</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Miscellaneous</span><span class="pull-right">17</span></a></li>
                                    </ul>
                                </div> #}
                            </div>
                            <div class="category-widget widget col-xs-12 col-sm-12 col-md-12 col-lg-12 sd380">
                                {#<img src="{{ asset('images/13442622_1089636587764162_5873141146180683885_o.jpg') }}" class="img-responsive" />#}
                                    <p style="font-size: 1.1em;">Recomendaciones de Empresa Responsable</p>
                                    <footer>
                                        <p style="font-size: 1.4em;"><a href="{{ asset('http://www.crese.org/page/recomendaciones/') }}" target="_blank"><i class="fa fa-file"></i></a></p>
                                    </footer>
                            </div>
                            <div class="clearfix"></div>
                            {#<div class="tag-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <img src="{{ asset('images/14291867_1146443458750141_5293017378477755589_n.jpg') }}" class="img-responsive">
                                <div class="title-widget">tags</div>
                                <div class="content-widget">
                                    <ul class="tag-widget list-unstyled">
                                        <li><a href="#" class="tag-item">Software</a></li>
                                        <li><a href="#" class="tag-item">Music</a></li>
                                        <li><a href="#" class="tag-item">Photography</a></li>
                                        <li><a href="#" class="tag-item">Communication</a></li>
                                        <li><a href="#" class="tag-item">Tutorial</a></li>
                                        <li><a href="#" class="tag-item">Biology</a></li>
                                        <li><a href="#" class="tag-item">Photoshop</a></li>
                                        <li><a href="#" class="tag-item">Economics</a></li>
                                        <li><a href="#" class="tag-item">Statistics</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


